# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Airline API 
email: rbwatson@docsbydesign.com
description: > # this means to ignore newlines until "baseurl:"
  This is the documentation for the Airline API. The purpose of this documentation is to provide 
  information on API use and give an overview of each individual resource within the API.
baseurl: "/TCO476-rest" # the subpath of your site, e.g. /blog
url: "http://rbwatson.github.io/TCO476-rest" # the base hostname & protocol for your site

github_username:  rbwatson
include: ['pages']

# Build settings
markdown: kramdown
theme: minima
